table, th, td {
    border: 1px solid #47d147;
    margin: 0 auto;
    background-color: #21201d;
}

table {
    margin-top: 14px;
}

table a {
    color: #ff1a1a;
}

td {
    padding: 14px;
}

@media only screen and (max-width: 768px) {
    /* Mobile view */
   /* Inspired by an article on responsive tables from css-tricks.com */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #47d147; 
    }
	
	td { 

		border: none;
		border-bottom: 1px solid #47d147; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    
    td:nth-of-type(1):before { content: "Topics"; }
	td:nth-of-type(2):before { content: "Title"; }
	td:nth-of-type(3):before { content: "Author"; }
	td:nth-of-type(4):before { content: "Link"; }
}